<div class="stream-info">
    <div class="image"> </div>
    <div class="informations">
        <div class="first-row">
            <span class="stream-name">
                {{streamName}}
            </span>
            <div class="spacer"></div>
            <button mat-icon-button>
                <mat-icon svgIcon="Follow"></mat-icon>
            </button>
        </div>
        <div class="second-row">
            <span class="stream-title">
                {{streamTitle}}
            </span>
            <div class="spacer"></div>
            <span class="stream-viewers">
                {{viewers}}
            </span>
            <span class="stream-uptime">
                {{uptime}}
            </span>
        </div>
    </div>
</div>
