<mat-toolbar calss="navbar">
    <span>SharpsenStream</span>
    <span class="example-spacer"></span>
    <button mat-button [routerLink]="'/home'">
        <span>Home</span>
    </button>
    <div *ngIf="loggedIn; else signIn">
        <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with share icon">
            <div class="avatarContainer">
                <img class="avatarImg" [src]="user.avatarFilePath">
            </div>
        </button>
    </div>
    <ng-template #signIn >
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with heart icon">
            <mat-icon svgIcon="LogIn"></mat-icon>
        </button>
    </ng-template>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="showLogInDialog()">
            <span>sign In</span>
        </button>
    </mat-menu>
  </mat-toolbar>