<div class="conteiner">

    <div class="chat" #scrollframe (scroll)="scrolled($event)">
        <span *ngFor="let message of messages; trackBy: trackByFn" class="message" #messages>
            <div class="nickname" [style.color]="message.color">
                {{message.userName}}:
            </div> &nbsp;{{message.message}}
        </span>
    </div>
    <div class="input">
        <textarea class="input-raw" (keydown.enter)="send(data)" #data ></textarea>
        <div class="controls">
            <div class="spacer"></div>
            <button mat-icon-button (click)="send(data)">
                <mat-icon svgIcon="SendMessage"></mat-icon>
            </button>
        </div>
    </div>
</div>
